<div class="config-pd flex justify-center items-center">
  
  <div class="box">
    <div>
      <div class="flex flex-row items-center mb-5">
        <svg width="71" height="77" viewBox="0 0 101 107" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M98.4585 78.1658L50.7295 103.346L3 78.1658V28.181L50.7295 3L98.4585 28.181V78.1658Z" stroke="#13293D" stroke-width="5"/>
          <path d="M90.96 74.3557L50.7302 95.5799L10.5 74.3557V32.2246L50.7302 11L90.96 32.2246V74.3557Z" fill="#13293D"/>
          <path d="M57.5 35.125H65.625C66.056 35.125 66.4693 35.2962 66.774 35.601C67.0788 35.9057 67.25 36.319 67.25 36.75V70.875C67.25 71.306 67.0788 71.7193 66.774 72.024C66.4693 72.3288 66.056 72.5 65.625 72.5H36.375C35.944 72.5 35.5307 72.3288 35.226 72.024C34.9212 71.7193 34.75 71.306 34.75 70.875V36.75C34.75 36.319 34.9212 35.9057 35.226 35.601C35.5307 35.2962 35.944 35.125 36.375 35.125H44.5" stroke="#E8F1F2" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M42.875 41.625V40C42.875 37.8451 43.731 35.7785 45.2548 34.2548C46.7785 32.731 48.8451 31.875 51 31.875C53.1549 31.875 55.2215 32.731 56.7452 34.2548C58.269 35.7785 59.125 37.8451 59.125 40V41.625H42.875Z" stroke="#E8F1F2" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
          
        <h1 style="margin:0;margin-left: 10px;">
          Formulario
        </h1>
      </div>
      <p>
        Sabemos que muitas vezes começar do zero em uma país novo pode ser muito difícil. <br>
        Pensado nisso, ONGS e projetos sociais auxiliam imigrantes e refugiados que chegam ao Brasil. Se você estiver passando dificuldade com alimentação, abrigo ou documentação, preencha o formulário abaixo, iremos encaminha-lo a instituições que prestam serviço de ajuda.
      </p>
    </div>
    <hr>
    <br>
    <form (submit)="onAdicionarCliente(clienteForm)" #clienteForm="ngForm">
      <label for="">Nome</label>
      <input type="text" placeholder="Nome" name='nome' ngModel #nome="ngModel">
      <br>
      <label for="">Email</label>
      <input type="email" placeholder="nome@exemplo.com" name='email' ngModel #email="ngModel">
      <br>
      <label for="">Telefone</label>
      <input type="tel" placeholder="11900000000" name='fone' ngModel #fone="ngModel">
      <br>
      <label for="">Nacionalidade</label>
      <input name="nacionalidade" placeholder="Nacionalidade" ngModel #nacionalidade="ngModel" id="nacionalidade" list="text">
      <br>
      <!-- <label for="">Nacionalidade</label>
      <input type="text" placeholder="Nacionalidade" name='nacionalidade' ngModel #nacionalidade="ngModel">
      -->
      <label for="">Necessidade</label>
      <input name="dific" placeholder="Qual é sua necessidade" ngModel #dific="ngModel" id="Dific" list="dific">
      <br>

      <label for="">Fale mais sobre você</label>
      <!-- <input type="text" placeholder="digite aqui..." name='desc' ngModel #desc="ngModel">  -->
      <textarea name='desc' ngModel #desc="ngModel" id="" cols="30" rows="10" placeholder="digite aqui..."></textarea>
      <br>

      <button type="submit" class="font-bold text-base">Enviar</button>
    </form>
    
  </div>
</div>

<datalist id="text" >
  <option *ngFor="let item of paises">
    {{item.nome_pais}}
  </option>
  <!-- <option>Red</option>
  <option>Yellow</option> 
  <option>Blue</option> -->
</datalist>

<datalist id="dific" >
  <option *ngFor="let item of temas">
    {{item.nome}}
  </option>
</datalist>