<div class="config-pd">
  
  <div class="box">
    <div>
      <h2>Formulario</h2>
      <p>Esse formulario tem o intuito de lhe conectar com ONG's e afins. saiba que ao preencher este formulario você está concordando com sei lá o q para sei lá o q</p>
    </div>
    <form action="submit">
      <label for="">Nome</label>
      <input type="text">

      <label for="">Email</label>
      <input type="email">

      <label for="">Telefone</label>
      <input type="text">

      <label for="">Nacionalidade</label>
      <input type="text">

      <label for="">Diga-me mais sobre ti</label>
      <input type="text">

      <button type="submit">Enviar</button>
    </form>
  </div>
</div>
