<div class="config-pd">
  <div class="flex flex-row items-center mb-5">
    <svg width="71" height="77" viewBox="0 0 101 107" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M98.4585 78.1658L50.7295 103.346L3 78.1658V28.181L50.7295 3L98.4585 28.181V78.1658Z" stroke="#13293D" stroke-width="5"/>
      <path d="M90.96 74.3557L50.7302 95.5799L10.5 74.3557V32.2246L50.7302 11L90.96 32.2246V74.3557Z" fill="#13293D"/>
      <path d="M68.875 39.625H33.125C32.2275 39.625 31.5 40.3525 31.5 41.25V67.25C31.5 68.1475 32.2275 68.875 33.125 68.875H68.875C69.7725 68.875 70.5 68.1475 70.5 67.25V41.25C70.5 40.3525 69.7725 39.625 68.875 39.625Z" stroke="#E8F1F2" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M59.125 39.625V36.375C59.125 35.513 58.7826 34.6864 58.1731 34.0769C57.5636 33.4674 56.737 33.125 55.875 33.125H46.125C45.263 33.125 44.4364 33.4674 43.8269 34.0769C43.2174 34.6864 42.875 35.513 42.875 36.375V39.625" stroke="#E8F1F2" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M70.5 50.6547C64.5734 54.0823 57.8464 55.8831 51 55.875C44.1524 55.8928 37.4229 54.0913 31.5 50.6547" stroke="#E8F1F2" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M48.5625 49.375H53.4375" stroke="#E8F1F2" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      
    <h1 style="margin:0;margin-left: 10px;">
      Emprego
    </h1>
  </div>

  <div class="box">
    <p>No Brasil, os solicitantes de refúgio e refugiados têm direito à Carteira de Trabalho (CTPS) e com ela podem trabalhar legalmente no país, com os mesmos direitos de qualquer outro trabalhador brasileiro.
    </p>
    <p>Os solicitantes de refúgio e refugiados que queiram obter maiores informações sobre o mercado de trabalho, cursos profissionalizantes, seguro-desemprego e vagas disponíveis devem procurar um Centro de Atendimento ao Trabalhador (CAT) na cidade onde vivem.</p>
  </div>

  <h2>Oportunidades de emprego</h2>

  <div class="box oportunidades">
    <div>
      <p>
      O <b>Google</b> conta com uma ferramenta que auxilia os usuários a procurar emprego: o <b>Google Jobs</b>. Com ela, os usuários podem buscar oportunidades perto da sua região, aplicar filtros para buscarem vagas específicas e até criar alertas para receber notificações por e-mail. Acesse Vagas para imigrantes e você será redirecionado para o Google Jobs.
      </p>
      <a href="https://www.google.com/search?q=vagas+de+emprego+para+imigrantes&oq=vagas+de+emprego+para+imigrantes&aqs=chrome..69i57j0i512l3.7410j0j7&sourceid=chrome&ie=UTF-8&ibp=htl;jobs&sa=X&ved=2ahUKEwiAloPx3oT4AhVeg5UCHcWuBTEQudcGKAJ6BAgDECg&sxsrf=ALiCzsZuY-oC0sdvUPdoDhHIpFjdvXpNhg:1653828397098#htivrt=jobs&fpstate=tldetail&htichips=&htischips=&htilrad=-1.0&htidocid=TallY7xuhoEAAAAAAAAAAA%3D%3D">Acesse</a>
    </div>

    <div>
      <p><b>Empresas com Refugiados</b> é uma iniciativa da Rede Brasil do Pacto Global da ONU e da Agência da ONU para Refugiados (ACNUR) para promover a integração de pessoas refugiadas e solicitantes de refúgio no mercado de trabalho brasileiro. Compartilham práticas corporativas que beneficiam a integração de refugiados no país, disponibilizamos informações gerais sobre refugiados, materiais de referência, pesquisas relevantes e orientação sobre o processo de contratação de refugiados. <br>
      Para mais informações acesse:
        </p>
        <a href="https://www.empresascomrefugiados.com.br/">Acesse</a>
    </div>

    <div>
      <p>O <b>Centro do imigrante</b> disponibiliza vagas de emprego para imigrantes:
      </p>
      <a href="https://www.centrodoimigrante.com.br/emprego/">Acesse</a>
    </div>
  </div>
</div>
