<div class="config-pd">
  <div>
    <!-- icone -->
    <h1>Educação</h1>
  </div>

  <div class="box">
    <p>
    Refugiados e Solicitantes de Refúgio têm o direito à Educação de acordo com a Lei 9.474/1997 – Estatuto dos Refugiados. O sistema educacional brasileiro inclui diversos níveis:
    </p>
      <ul style="list-style-type:disc;list-style-position:inside;">
        <li>Ensino básico para crianças de 0 a 17 anos (Creche, Ensino Fundamental e Ensino Médio);</li>
        <li>Ensino básico para jovens e adultos (maiores de 18 anos);</li>
        <li>Ensino técnico;</li>
        <li>Ensino universitário.</li>
      </ul>
    <br>
    <p>Além disso, pessoas refugiadas e solicitantes de refúgio com diplomas universitários podem revalidar seus diplomas</p>
    <p>O calendário escolar no Brasil tem início em fevereiro e termina em dezembro. No mês de julho há também um recesso mais curto, variando de 2 a 3 semanas. Todas as crianças e adolescentes têm direito a se matricular gratuitamente nas escolas públicas de ensino fundamental e médio, inclusive os solicitantes de refúgio e refugiados. A lei brasileira de refúgio garante que as autoridades brasileiras levarão em consideração a situação excepcional em que se encontram os refugiados no Brasil e, por isso, facilitarão o ingresso em instituições de ensino daqueles que não possuam seus diplomas ou histórico escolar. Sendo assim, toda criança ou adolescente <b>solicitante de refúgio ou refugiado tem o direito de se matricular em qualquer escola pública apresentando o seu CPF e protocolo provisório ou RNE.</b>
    </p>
  </div>

  <h2>
    <!-- icone -->
    Aulas de português
  </h2>
  <div class="box">
    Visando à plena integração social e econômica de imigrantes, instituições proporcionam cursos de português proporcionando mais autonomia, facilitando a integração local e a conquista de um emprego.Devido à alta procura por esses cursos, alguns deles podem ter listas de espera.
  </div>
  <div>
    <mat-accordion class="example-headers-align">
    
      <mat-expansion-panel  hideToggle >
        <mat-expansion-panel-header class="py-2 h-20">
          <mat-panel-title class="flex flex-row justify-between">
            <div class="titulo">
               <h2>
                Cursos online
              </h2>
            </div>
            <mat-icon class="mt-[5px]">
              <svg width="25" height="20" viewBox="0 0 31 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.95892 2.2615L15.5075 21.2043L27.1301 2.30684L3.95892 2.2615Z" stroke="#13293D" stroke-width="4"/>
              </svg>
            </mat-icon>
          </mat-panel-title>
          
        </mat-expansion-panel-header>
  
        <div>
          <div class="areaCards">
            <!-- card -->
            <div class="card min-w-[200px] max-w-sm" *ngFor="let item of cursosOnline">
              <div>
                <img src={{item.img}} alt="">
                <h3>{{item.title}}</h3>
                <p>{{item.desc}}</p>
              </div>
              <a href={{item.linkTo}} >
                Veja
              </a>
            </div>
            <!-- card -->
          </div>
        </div>
      </mat-expansion-panel>
      
      <hr>
       <!-- esse -->
      <mat-expansion-panel  hideToggle >
        <mat-expansion-panel-header class="py-2 h-20">
          <mat-panel-title class="flex flex-row justify-between">
            <div class="titulo">
               
            </div>
            <mat-icon class="mt-[5px]">
              <svg width="25" height="20" viewBox="0 0 31 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.95892 2.2615L15.5075 21.2043L27.1301 2.30684L3.95892 2.2615Z" stroke="#13293D" stroke-width="4"/>
              </svg>
            </mat-icon>
          </mat-panel-title>
          
        </mat-expansion-panel-header>
  
        <div>
          
        </div>
      </mat-expansion-panel>
      
      <hr>

      <mat-expansion-panel  hideToggle >
        <mat-expansion-panel-header class="py-2 h-20">
          <mat-panel-title class="flex flex-row justify-between">
            <div class="titulo">
               <h2>
                Cursos profissionalizantes
              </h2>
            </div>
            <mat-icon class="mt-[5px]">
              <svg width="25" height="20" viewBox="0 0 31 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.95892 2.2615L15.5075 21.2043L27.1301 2.30684L3.95892 2.2615Z" stroke="#13293D" stroke-width="4"/>
              </svg>
            </mat-icon>
          </mat-panel-title>
          
        </mat-expansion-panel-header>
  
        <div>
          <div class="box">
            Os refugiados também podem se matricular em <b>cursos técnicos e profissionalizantes</b> que são disponibilizados, mediante pagamento de taxas, através das instituições do Governo ligadas ao Pronatec ou ao Sistema S (SESI, SESC, SENAC, SENAI), dentre outras.
            <div class="sistemaS">
              <a href="https://www.portaldaindustria.com.br/sesi/canais/sesi-viva-mais/sesi-cursos/">SESI</a>
              <a href="https://portalead.sp.senai.br/institucional/3722/3840/cursos-gratuitos">SENAI</a>
              <a href="https://ead.sesc.digital/">SESC</a>
              <a href="https://www.sp.senac.br/cursos-livres#">SENAC</a>
            </div>
          </div>
          <div class="areaCards">
            <div class="card" *ngFor="let item of cursosProfis" style="width:100% ;min-width:auto;max-width:auto">
              <div>
                <img src={{item.img}} alt="" srcset="">
                <h3>{{item.title}}</h3>
                <p>{{item.desc}}</p>
              </div>
              <a href={{item.linkTo}} >
                Veja
              </a>
            </div>
          </div>
        </div>
      </mat-expansion-panel>

    </mat-accordion>
    
    
    <h2>
      Cursos presenciais
    </h2>
    <div class="">
      <!-- <a href="mailto:caritassp@caritassp.org.br">Send email</a> -->
      
      <div>
        <h2>
        SÃO PAULO
        </h2>
        <div class="areaCards">
          <div class="card" *ngFor="let item of sp" style="width:100% ;min-width:auto;max-width:auto">
            <div>
              <img src={{item.img}} alt="" srcset="">
              <h3>{{item.title}}</h3>
              <p>{{item.desc}}</p>
            </div>
            <a href={{item.linkTo}} >
              Veja
            </a>
          </div>
        </div>
      </div>

      <div>
        <h2>
        SÃO PAULO
        </h2>
        <div class="areaCards">
          <div class="card" *ngFor="let item of sp" style="width:100% ;min-width:auto;max-width:auto">
            <div>
              <img src={{item.img}} alt="" srcset="">
              <h3>{{item.title}}</h3>
              <p>{{item.desc}}</p>
            </div>
            <a href={{item.linkTo}} >
              Veja
            </a>
          </div>
        </div>
      </div>
      
    </div>

    
    
  </div>


</div>

<!-- 
  
  sp,br,critiba,flor,manaus,pa,rj,bv

CURSOS PRESENCIAIS


SÃO PAULO

(link da imagem: https://adus.org.br/projetos/aulas-de-portugues/ )
O Adus oferece cursos de portugês, capacitação e geração de renda e presta orientação jurídica.O atendimento da orientação jurídica é prestado pessoalmente e via e-mail e as situações que necessitem de litígios administrativos ou judiciais são encaminhadas para órgão públicos e instituições privadas adequadas para a proteção do direito eventualmente violado.
Para realizar o agendamento da aulas em São Paulo ou marcar atendimento online (outras cidades), acesse o link:
Adus:https://adus.org.br/fale-conosco/

(link da imagem: https://compassiva.org.br/) 
Compassiva 
Endereço: R. da Glória, 900 – Liberdade
WhatsApp: (11)97512-0307 ou (11)93730-4461.
Acesse: https://compassiva.org.br/lar/ 








Caritas Arquidiocesana de São Paulo – Serviço de Acolhida e Orientação para Refugiados 
Endereço: Rua José Bonifácio, nº107, 1º andar – Centro
WhatsApp: +55 11 97630-8023
Email: caritassp@caritassp.org.br
De segunda a sexta-feira, das 08h30 às 17h30.

(link da imagem:https://visaomundial.org.br/ )
VISÃO MUNDIAL
WhatsApp: (11) 99427-9660
Acesse: https://visaomundial.org.br/


(link da img: https://missaonspaz.org/sand/ )
MISSÃO PAZ
Endereço: Rua Glicério, 225 – Liberdade, São Paulo
Telefone: (11) 3340-6950
Acesse: https://missaonspaz.org/sand/cursos-de-portugues/ 

 


BibliASPA
Endereço: Rua Baronesa de Itu, 639, Santa Cecília, São Paulo (SP)
Telefone: (11) 99609-3188


BRASÍLIA

(link da imagem:https://www.migrante.org.br/ )
IMDH 
Oferece cursos de português e também é local de inscrição para outros cursos de línguas, contudo com a pandemia, o levantamento de cursos disponíveis está sendo feito constantemente, por isso, caso tenha interesse, contate o IMDH.
E-mail: imdh@migrante.org.br
Telefones: (61) 3340-2689 e 3447-8043
WhatsApp: (61) 98210-5085.
Acesse:https://www.migrante.org.br/ 


CURITIBA

(link da imagem:https://celin.ufpr.br/informacoes-sobre-inscricoes-para-os-cursos-de-portugues-para-estrangeiros/ )
Português para Estrangeiros – Celin
Endereço: Rua Dr. Faivre, n° 405, 4º andar – Ed. D. Pedro II.
Telefone: +55 (41) 3360-5101 / 3360-5267
Acesse:https://celin.ufpr.br/informacoes-sobre-inscricoes-para-os-cursos-de-portugues-para-estrangeiros/
 
FLORIANÓPOLIS 

(link img: https://circulosdehospitalidade.org/ )
Círculos de hospitalidade 
Redes sociais: @circulosdehospitalidade
E-mail: contato@circulosdehospitalidade.org
WhatsApp: (48) 99638-0528
Acesse: https://circulosdehospitalidade.org/projetos/ 
 
MANAUS

(link da img:https://adra.org.br/projetos/care/ )
CARE (Centro de Apoio e Referência a Refugiados e Migrantes) 
Endereço: Av. Maués, 120 – Cachoeirinha
E-mail: nucleo.manaus@adra.org.br
Telefone: (92) 3342-6531 (92) 99303-7757 (Whatsapp)
Acesse: https://adra.org.br/projetos/care/ 
 

(link img: https://arquidiocesedemanaus.org.br/ )
Cáritas Arquiodicesana de Manaus 
Endereço: Rua Joaquim Nabuco, 1023 – Centro
E-mail: caritasarquimanaus@gmail.com
Telefones: (92) 99292-4472 / (92) 3212-9030
Acesse: https://arquidiocesedemanaus.org.br/laicato/caritas-arquidiocesana-de-manaus/ 
 

(link img:https://sjmrbrasil.org/ )
SJMR (Serviço Jesuíta a Migrantes e Refugiados) 
Endereço: Av. Joaquim Nabuco, 1023 – Centro
E-mail: comunicacao@sjmrbrasil.org
Telefone: (92) 99157-6097
Acesse: https://sjmrbrasil.org/contato/ 

PORTO ALEGRE

(link img: https://cibaimigracoes.org/ )
Cibai Migrações
No momento as aulas estão sendo online.
Endereço: Rua Dr Barros Cassal, 220 – Floresta
E-mail: portuguescibai@gmail.com ou conexaoportugues@cibaimigracoes.org
WhatsApp: 51 9 9222 3032
Acese:https://cibaimigracoes.org/cursos-de-capacitacao/ 
 

(link img:https://sjmrbrasil.org/ )
SJMR (Serviço Jesuíta a Migrantes e Refugiados) 
Endereço: Rua General Caldwell, 651, no bairro Menino Deus – Porto Alegre (RS)
E-mail: atendimentopoa@sjmrbrasil.org
Telefone: +55 51 3254-0140
Whatsapp: +55 51 9 9995-5573
Acesse:  https://sjmrbrasil.org/contato/ 
 
RIO DE JANEIRO

(link img: http://www.caritas-rj.org.br/ )
Caritas Arquidiocesana do Rio de Janeiro
Endereço: Rua São Francisco Xavier, nº483 – Maracanã
Whatsapp: (21) 97228-1178
Acesse:
http://www.caritas-rj.org.br/curso-de-portugues-para-refugiados.html 
 
BOA VISTA

(link img:https://www.avsibrasil.org.br/ )
AVSI – Para residentes dos abrigos da Operação Acolhida geridos pela AVSI, buscar equipes de Meios de Vida do seu abrigo.
Entre em contato: https://www.avsibrasil.org.br/contato/ 
 

(link da imagem:https://visaomundial.org.br/ )
Visão Mundial – Informações sobre cursos na sede da ADRA 
Endereço: Rua Belarmino F Magalhães, 1584 – Tancredo Neves, Boa Vista – RR, 69313-485) ou no PTRIG Boa Vista (Avenida Brasil, bairro 13 de Setembro, Boa Vista, Roraima / CEP 69308-050 )
PACARAIMA
IMDH Solidário – encaminhamento para cursos de português 
Endereço: R. Uraricoera, 671 – Bairro São Vicente CEP 69303-453 – Boa Vista-RR.
 
CCR, Centro de Capacitação e Referência de Pacaraima 
Endereço: Rua Um, número 289 – Centro, Pacaraima
 -->
