<div class="config-pd">
  <div class="flex flex-row items-center mb-5">
    <svg width="71" height="77" viewBox="0 0 101 107" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M98.4585 78.1658L50.7295 103.346L3 78.1658V28.181L50.7295 3L98.4585 28.181V78.1658Z" stroke="#13293D" stroke-width="5"/>
      <path d="M90.96 74.3557L50.7302 95.5799L10.5 74.3557V32.2246L50.7302 11L90.96 32.2246V74.3557Z" fill="#13293D"/>
      <path d="M41.25 35.125H34.75C33.8525 35.125 33.125 35.8525 33.125 36.75V69.25C33.125 70.1475 33.8525 70.875 34.75 70.875H41.25C42.1475 70.875 42.875 70.1475 42.875 69.25V36.75C42.875 35.8525 42.1475 35.125 41.25 35.125Z" stroke="#E8F1F2" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M33.125 43.25H42.875" stroke="#E8F1F2" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M51 35.125H44.5C43.6025 35.125 42.875 35.8525 42.875 36.75V69.25C42.875 70.1475 43.6025 70.875 44.5 70.875H51C51.8975 70.875 52.625 70.1475 52.625 69.25V36.75C52.625 35.8525 51.8975 35.125 51 35.125Z" stroke="#E8F1F2" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M42.875 62.75H52.625" stroke="#E8F1F2" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M60.6557 34.5932L54.3507 36.2832C53.4801 36.5166 52.9636 37.4114 53.1969 38.282L61.6469 69.807C61.8803 70.6775 62.7751 71.1941 63.6457 70.9607L69.9507 69.2707C70.8212 69.0374 71.3378 68.1425 71.1044 67.272L62.6544 35.747C62.4211 34.8764 61.5262 34.3599 60.6557 34.5932Z" stroke="#E8F1F2" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M59.7749 63.4L69.1999 60.8609" stroke="#E8F1F2" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M54.7373 44.55L64.1623 42.0312" stroke="#E8F1F2" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
      
    <h1 style="margin:0;margin-left: 10px;">
      Educação
    </h1>
  </div>

  <div class="box">
    <p>
    Refugiados e Solicitantes de Refúgio têm o direito à Educação de acordo com a Lei 9.474/1997 – Estatuto dos Refugiados. O sistema educacional brasileiro inclui diversos níveis:
    </p>
      <ul style="list-style-type:disc;list-style-position:inside;">
        <li>Ensino básico para crianças de 0 a 17 anos (Creche, Ensino Fundamental e Ensino Médio);</li>
        <li>Ensino básico para jovens e adultos (maiores de 18 anos);</li>
        <li>Ensino técnico;</li>
        <li>Ensino universitário.</li>
      </ul>
    <br>
    <p>Além disso, pessoas refugiadas e solicitantes de refúgio com diplomas universitários podem revalidar seus diplomas</p>
    <p>O calendário escolar no Brasil tem início em fevereiro e termina em dezembro. No mês de julho há também um recesso mais curto, variando de 2 a 3 semanas. Todas as crianças e adolescentes têm direito a se matricular gratuitamente nas escolas públicas de ensino fundamental e médio, inclusive os solicitantes de refúgio e refugiados. A lei brasileira de refúgio garante que as autoridades brasileiras levarão em consideração a situação excepcional em que se encontram os refugiados no Brasil e, por isso, facilitarão o ingresso em instituições de ensino daqueles que não possuam seus diplomas ou histórico escolar. Sendo assim, toda criança ou adolescente <b>solicitante de refúgio ou refugiado tem o direito de se matricular em qualquer escola pública apresentando o seu CPF e protocolo provisório ou RNE.</b>
    </p>
  </div>

  <h2>
    <!-- icone -->
    Aulas de português
  </h2>
  <div class="box">
    Visando à plena integração social e econômica de imigrantes, instituições proporcionam cursos de português proporcionando mais autonomia, facilitando a integração local e a conquista de um emprego.Devido à alta procura por esses cursos, alguns deles podem ter listas de espera.
  </div>
  <div>
    <mat-accordion class="example-headers-align">
    
      <mat-expansion-panel  hideToggle >
        <mat-expansion-panel-header class="py-2 h-20">
          <mat-panel-title class="flex flex-row justify-between">
            <div class="titulo">
               <h2>
                Cursos online
              </h2>
            </div>
            <mat-icon class="mt-[5px]">
              <svg width="25" height="20" viewBox="0 0 31 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.95892 2.2615L15.5075 21.2043L27.1301 2.30684L3.95892 2.2615Z" stroke="#13293D" stroke-width="4"/>
              </svg>
            </mat-icon>
          </mat-panel-title>
          
        </mat-expansion-panel-header>
  
        <div>
          <div class="areaCards">
            <!-- card -->
            <div class="card min-w-[200px] max-w-sm" *ngFor="let item of cursosOnline">
              <div>
                <img src={{item.img}} alt="">
                <h3>{{item.title}}</h3>
                <p>{{item.desc}}</p>
              </div>
              <a href={{item.linkTo}} >
                Veja
              </a>
            </div>
            <!-- card -->
          </div>
        </div>
      </mat-expansion-panel>
      
      <hr>

      <mat-expansion-panel  hideToggle >
        <mat-expansion-panel-header class="py-2 h-20">
          <mat-panel-title class="flex flex-row justify-between">
            <div class="titulo">
              <h2>
                Cursos presenciais
              </h2>
            </div>
            <mat-icon class="mt-[5px]">
              <svg width="25" height="20" viewBox="0 0 31 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.95892 2.2615L15.5075 21.2043L27.1301 2.30684L3.95892 2.2615Z" stroke="#13293D" stroke-width="4"/>
              </svg>
            </mat-icon>
          </mat-panel-title>
          
        </mat-expansion-panel-header>
  
        <div class="presenciais">
          <!-- aqui -->
          <h2>SÃO PAULO</h2>
          <div class="areaCards">
            <div class="card" *ngFor="let item of sp" style="width:100% ;min-width:auto;max-width:auto">
              <div>
                <img src={{item.img}} alt="" srcset="">
                <h3>{{item.nome}}</h3>
                <p>{{item.desc}}</p>
                <p>{{item.desc2}}</p>
                <p>{{item.Endereco}}</p>
                <p>{{item.tel}}</p>
                <p>{{item.email}}</p>
              </div>
              <div class="linksList">
                <a href="https://api.whatsapp.com/send?phone=55{{item.WhatsApp}}" *ngIf="item.WhatsApp!= null"><i class="ph-whatsapp-logo"></i></a>
                <a href="mailto:{{item.email}}"*ngIf="item.email!= null"><i class="ph-paper-plane-tilt"></i></a>
                <a href={{item.site}} *ngIf="item.site!= null"><i class="ph-globe"></i></a>
              </div>
            </div>
          </div>
          <hr>
          <h2>MANAUS</h2>
          <div class="areaCards">
            <div class="card" *ngFor="let item of manaus" style="width:100% ;min-width:auto;max-width:auto">
              <div>
                <img src={{item.img}} alt="" srcset="">
                <h3>{{item.nome}}</h3>
                <p>{{item.Endereco}}</p>
                <p>{{item.tel}}</p>
                <p>{{item.email}}</p>
              </div>
              <div class="linksList">
                <a href="mailto:{{item.email}}"*ngIf="item.email!= null"><i class="ph-paper-plane-tilt"></i></a>
                <a href={{item.site}} *ngIf="item.site!= null"><i class="ph-globe"></i></a>
              </div>
            </div>
          </div>
          <hr>
          
          <h2>PORTO ALEGRE</h2>
          <div class="areaCards">
            <div class="card" *ngFor="let item of portoAlegre" style="width:100% ;min-width:auto;max-width:auto">
              <div>
                <img src={{item.img}} alt="" srcset="">
                <h3>{{item.nome}}</h3>
                <p>{{item.desc}}</p>
                <p>{{item.Endereco}}</p>
                <p>{{item.tel}}</p>
                <p>{{item.email}}</p>
              </div>
              <div class="linksList">
                <a href="https://api.whatsapp.com/send?phone=55{{item.WhatsApp}}" *ngIf="item.WhatsApp!= null"><i class="ph-whatsapp-logo"></i></a>
                <a href="mailto:{{item.email}}"*ngIf="item.email!= null"><i class="ph-paper-plane-tilt"></i></a>
                <a href={{item.site}} *ngIf="item.site!= null"><i class="ph-globe"></i></a>
              </div>
            </div>
          </div>
          <hr>
          
          <h2>BOA VISTA</h2>
          <div class="areaCards">
            <div class="card" *ngFor="let item of bv" style="width:100% ;min-width:auto;max-width:auto">
              <div>
                <img src={{item.img}} alt="" srcset="">
                <h3>{{item.nome}}</h3>
                <p>{{item.desc}}</p>
                <p>{{item.Endereco}}</p>
              </div>
              <div class="linksList">
                <!-- <a href="" *ngIf="item.WhatsApp!= null"><i class="ph-whatsapp-logo"></i></a>
                <a href="mailto:{{item.email}}"*ngIf="item.email!= null"><i class="ph-paper-plane-tilt"></i></a> -->
                <a href={{item.site}} *ngIf="item.site!= null"><i class="ph-globe"></i></a>
              </div>
            </div>
          </div>
          <hr> 
          <h2>PACARAIMA</h2>
          <div class="areaCards">
            <div class="card" *ngFor="let item of pacaraima" style="width:100% ;min-width:auto;max-width:auto">
              <div>
                <img src={{item.img}} alt="" srcset="">
                <h3>{{item.nome}}</h3>
                <p>{{item.desc}}</p>
                <p>{{item.Endereco}}</p>
              </div>
              <!-- <div class="linksList">
                <a href="" *ngIf="item.WhatsApp!= null"><i class="ph-whatsapp-logo"></i></a>
                <a href="mailto:{{item.email}}"*ngIf="item.email!= null"><i class="ph-paper-plane-tilt"></i></a>
                <a href={{item.site}} *ngIf="item.site!= null"><i class="ph-globe"></i></a>
              </div> -->
            </div>
          </div>
          <hr>
          <div *ngFor="let item of estado">
            <h2>{{item.id}}</h2>
            <div class="areaCards">
              <div class="card" style="width:100% ;min-width:auto;max-width:auto">
                <div>
                  <img src={{item.img}} alt="" srcset="">
                  <h3>{{item.nome}}</h3>
                  <p>{{item.desc}}</p>
                  <p>{{item.Endereco}}</p>
                  <p>{{item.tel}}</p>
                  <p>{{item.email}}</p>
                </div>
                <div class="linksList">
                <a href="https://api.whatsapp.com/send?phone=55{{item.WhatsApp}}" *ngIf="item.WhatsApp!= null"><i class="ph-whatsapp-logo"></i></a>
                <a href="mailto:{{item.email}}"*ngIf="item.email!= null"><i class="ph-paper-plane-tilt"></i></a>
                <a href={{item.site}} *ngIf="item.site!= null"><i class="ph-globe"></i></a>
              </div>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </mat-expansion-panel>
      
      <hr>

      <mat-expansion-panel  hideToggle >
        <mat-expansion-panel-header class="py-2 h-20">
          <mat-panel-title class="flex flex-row justify-between">
            <div class="titulo">
               <h2>
                Cursos profissionalizantes
              </h2>
            </div>
            <mat-icon class="mt-[5px]">
              <svg width="25" height="20" viewBox="0 0 31 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.95892 2.2615L15.5075 21.2043L27.1301 2.30684L3.95892 2.2615Z" stroke="#13293D" stroke-width="4"/>
              </svg>
            </mat-icon>
          </mat-panel-title>
          
        </mat-expansion-panel-header>
  
        <div>
          <div class="box">
            Os refugiados também podem se matricular em <b>cursos técnicos e profissionalizantes</b> que são disponibilizados, mediante pagamento de taxas, através das instituições do Governo ligadas ao Pronatec ou ao Sistema S (SESI, SESC, SENAC, SENAI), dentre outras.
            <div class="sistemaS">
              <a href="https://www.portaldaindustria.com.br/sesi/canais/sesi-viva-mais/sesi-cursos/">SESI</a>
              <a href="https://portalead.sp.senai.br/institucional/3722/3840/cursos-gratuitos">SENAI</a>
              <a href="https://ead.sesc.digital/">SESC</a>
              <a href="https://www.sp.senac.br/cursos-livres#">SENAC</a>
            </div>
          </div>
          <div class="areaCards">
            <div class="card" *ngFor="let item of cursosProfis" style="width:100% ;min-width:auto;max-width:auto">
              <div>
                <img src={{item.img}} alt="" srcset="">
                <h3>{{item.title}}</h3>
                <p>{{item.desc}}</p>
              </div>
              <a href={{item.linkTo}} >
                Veja
              </a>
            </div>
          </div>
        </div>
      </mat-expansion-panel>

    </mat-accordion>
    
  </div>


</div>