<div class="config-pd">
  <div class="flex flex-row items-center mb-5">
    <svg width="71" height="77" viewBox="0 0 101 107" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M98.4585 78.1658L50.7295 103.346L3 78.1658V28.181L50.7295 3L98.4585 28.181V78.1658Z" stroke="#13293D" stroke-width="5"/>
      <path d="M90.96 74.3557L50.7302 95.5799L10.5 74.3557V32.2246L50.7302 11L90.96 32.2246V74.3557Z" fill="#13293D"/>
      <path d="M44.5 59.5H33.125C32.694 59.5 32.2807 59.3288 31.976 59.024C31.6712 58.7193 31.5 58.306 31.5 57.875V48.125C31.5 47.694 31.6712 47.2807 31.976 46.976C32.2807 46.6712 32.694 46.5 33.125 46.5H44.5V35.125C44.5 34.694 44.6712 34.2807 44.976 33.976C45.2807 33.6712 45.694 33.5 46.125 33.5H55.875C56.306 33.5 56.7193 33.6712 57.024 33.976C57.3288 34.2807 57.5 34.694 57.5 35.125V46.5H68.875C69.306 46.5 69.7193 46.6712 70.024 46.976C70.3288 47.2807 70.5 47.694 70.5 48.125V57.875C70.5 58.306 70.3288 58.7193 70.024 59.024C69.7193 59.3288 69.306 59.5 68.875 59.5H57.5V70.875C57.5 71.306 57.3288 71.7193 57.024 72.024C56.7193 72.3288 56.306 72.5 55.875 72.5H46.125C45.694 72.5 45.2807 72.3288 44.976 72.024C44.6712 71.7193 44.5 71.306 44.5 70.875V59.5Z" stroke="#E8F1F2" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      
      
      
    <h1 style="margin:0;margin-left: 10px;">
      Saúde
    </h1>
  </div>

  <div class="box">
    <p>A legislação brasileira assegura que os serviços do Sistema Único de Saúde (SUS) são universais, gratuitos e de acesso igualitário por todos os indivíduos presentes em território brasileiro. Todos os cidadãos, inclusive os solicitantes de refúgio e refugiados, têm direito de ser atendidos em qualquer unidade pública de saúde.</p>
    
    <div class="md:grid md:grid-cols-2 mb-[12px]">
      <div class="">
        <p>
        Para tanto, você deve apresentar o seu <b>CPF e protocolo provisório ou RNE em qualquer hospital, clínica ou posto de saúde e solicitar o seu Cartão SUS</b>. Este cartão é gratuito e pode ser utilizado em qualquer unidade de saúde pública do território nacional.
        </p>
        <p>No Brasil, os pais têm a obrigação de vacinar seus filhos. As crianças filhas de solicitantes de refúgio e refugiados podem obter gratuitamente as vacinas em postos de saúde públicos. Para saber quais as vacinas que o seu filho deve tomar, consulte o calendário de vacinação nos postos de saúde da sua cidade.</p>
      </div>
      <div class="flex justify-center items-center">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Logo_SUS.svg/2560px-Logo_SUS.svg.png" alt="SUS" srcset="" width="400">
      </div>
    </div>

    
  </div>

  <h2 class="font-bold">Números de emergência no Brasil</h2>

  <div class="box">
    <div *ngFor="let item of numeros ">
      <div class="flex flex-row flex-wrap w-full font-bold text-lg">
        <p class="w-[150px]">{{item.nome}}</p>
        <p style="margin-left:5px ;">{{item.numero}}</p>
      </div>
        <p *ngIf="item.desc != null || undefined">{{item.desc}}</p>
      <hr>
    </div>
  </div>
</div>
