<div class="main bg-brand-100 h-[100vh] w-full flex items-center justify-center">

  <div class="flex flex-col justify-center items-center my-auto ">
    <div class="p-2">
      <h1 class="text-[3rem] text-center">nome logo</h1>
      <p class="text-md mx-3">desc: Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
    </div>
    <div class="colmeia">
      <div class="cm1"> 
        <a class="ci1">
          <app-polygon></app-polygon>
        </a>
        <a class="ci2">
          <app-polygon></app-polygon>
        </a>
        <a class="ci3">
          <app-polygon></app-polygon>
        </a>
      </div>
      <br>
      <div class="cm2 ">
        <a class="ci4">
          <app-polygon></app-polygon>
        </a>
        <a class="ci5">
          <app-polygon></app-polygon>
        </a>
        <a class="ci6">
          <app-polygon></app-polygon>
        </a>
        <a class="ci7">
          <app-polygon></app-polygon>
        </a>
      </div>
      

    </div>
  </div>

</div>


