<div class="config-pd flex items-center justify-center">

  <div class="flex flex-col justify-center items-center my-auto ">
    <div class="p-2">
      <h1 class="">Imigrantes</h1>
      <p class="text-md mx-3">desc: Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
    </div>
    <div class="colmeia">
      <div class="cm1"> 
        <a class="ci1" routerLink="/docs">
          <app-polygon [title]="Documentos" [outerText]="iconDoc"></app-polygon>
        </a>
        <a class="ci2" routerLink="/habit">
          <app-polygon [title]="Moradia" [outerText]="iconHabit"></app-polygon>
        </a>
        <a class="ci3" routerLink="/educ">
          <app-polygon [title]="Educacao" [outerText]="iconEduc"></app-polygon>
        </a>
      </div>
      <br>
      <div class="cm2 ">
        <a class="ci4" routerLink="/health">
          <app-polygon [title]="Saude" [outerText]="iconHealth"></app-polygon>
        </a>
        <a class="ci5" routerLink="/job">
          <app-polygon [title]="Emprego" [outerText]="iconJob"></app-polygon>
        </a>
        <a class="ci6" routerLink="/form">
          <app-polygon [title]="Cadastro" [outerText]="iconForm"></app-polygon>
        </a>
        <a class="ci7" routerLink="/undf" >
          <app-polygon [title]="Undf" [outerText]="iconUndf"></app-polygon>
        </a>
        
      </div>
      

    </div>
  </div>

</div>


