h1{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
}
.colmeia{
  width: 750px;
  height: 350px;
  padding-right: 40px;
}
.colmeia div{
  display: flex;
  justify-content: center;  
  align-items: center;
}
.colmeia a{
  width: 184px;
  height: 135px;
}
.colmeia .cm1 a:hover{
  margin-right: 10px;
  z-index: 2;
  margin-top: 2px;
  width: 173px;
}
.colmeia .cm1 a:hover .cm2 a{
  width: 173px;
}
.colmeia .cm2 a:hover{
  margin-right: 30px;
  z-index: 2;
  margin-top: 2px;
  width: 157px;
}
/* .colmeia .ci1,.ci2,.ci3{
  position: absolute;
} */  
a{
  @apply outline-8 outline-brand-500 outline-offset-8
} 

@media (max-width:885px) {
  /* abaixo de 885 */
  .colmeia{zoom: .8;}
}
@media (max-width:670px) {
  /* abaixo de 670 */
  /* .colmeia{zoom: 1;} */
  .colmeia{
    width: auto;
    height: auto;
    padding-right: 40px;
  }
  .colmeia br{display: none;} 
  .colmeia div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ci1:hover,
  .ci3:hover{
    margin-right: 180px !important;
  }
  .ci5:hover,
  .ci7:hover{
    margin-right: 190px !important;
  }
  .ci1,.ci3,.ci5,.ci7{
    margin-right: 150px;
  }
  .ci2,.ci4,.ci6{
    margin-left: 150px;
  }
  
}
