h1{
  font-weight: bold;
  font-size: 2rem;
}
h2,h3{font-weight: bold;}
hr{
  @apply my-2 h-0.5 bg-brand-900
}
.box{
  @apply p-5 rounded-lg bg-[#f4f7f8] my-2
}
.card{
  @apply p-5 rounded-lg bg-[#f4f7f8] flex flex-col justify-between
}
.linksList{
  @apply flex flex-row justify-around
}
.linksList a{
  width: 45px !important;
  height: 45px;
  @apply flex justify-center items-center 
}
.linksList i{
  @apply text-3xl
}
.card a, .linksList a{
  @apply p-2 rounded-md text-center border-2 text-brand-900 border-brand-900 hover:bg-brand-900 hover:text-brand-100 w-full font-medium text-base
}