<div class="config-pd">
  <h1>Moradia</h1>
  <div class="box">
    <p>A maioria das vagas dos abrigos está aberta para brasileiros e estrangeiros em situação de vulnerabilidade. Os abrigos costumam ter limites em relação ao período de estadia, os quais vão desde apenas uma noite até vários meses.</p>
    <p>
      Se você chegar no país e não tiver lugar para ficar, deve procurar o
    <a href="https://aplicacoes.mds.gov.br/sagi/mops/serv-cras.php?s=1&codigo=140010" style="text-decoration:underline ;">Centro de Referência Especializado de Assistência Social</a>
      mais próximo para informações (de segunda a sexta-feira, 08-18h). A estadia nos abrigos públicos é gratuita.
    </p>
  </div>

  <div>
    
  </div>
</div>