<div class="config-pd">
  <h1>Moradia</h1>
  <div class="box">
    <p>A maioria das vagas dos abrigos está aberta para brasileiros e estrangeiros em situação de vulnerabilidade. Os abrigos costumam ter limites em relação ao período de estadia, os quais vão desde apenas uma noite até vários meses.</p>
    <p>
      Se você chegar no país e não tiver lugar para ficar, deve procurar o
    <a href="https://aplicacoes.mds.gov.br/sagi/mops/serv-cras.php?s=1&codigo=140010" style="text-decoration:underline ;">Centro de Referência Especializado de Assistência Social</a>
      mais próximo para informações (de segunda a sexta-feira, 08-18h). A estadia nos abrigos públicos é gratuita.
    </p>
  </div>

  <div>
    <br>
    <div class="sp">
      <h2>SÃO PAULO</h2>
      <div class="flex flex-row flex-wrap ">
        <div class="card w-60 sm:max-w-80 m-1" *ngFor="let item of sp">
          <h3>{{item.nome}}</h3>
          <p>{{item.email}}</p>
          <p>{{item.endereco}}</p>
          <p>{{item.tel}}</p>
          <div class="linksList">
            <a href='mailto:{{item.email}}' *ngIf="item.site!= null"><i class="ph-paper-plane-tilt"></i></a>
            <a href={{item.site}} *ngIf="item.site!= null"><i class="ph-globe"></i></a>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="outrosEstados">
      <div *ngFor="let item of estados">
        <h2>{{item.estado}}</h2>
        <div class="flex flex-row">
          <div class="card w-60 sm:max-w-80 mx-1" >
            <h3>{{item.nome}}</h3>
            <p>{{item.email}}</p>
            <p>{{item.endereco}}</p>
            <p>{{item.tel}}</p>
            <div class="linksList">
              <a href='mailto:{{item.email}}' *ngIf="item.site!= null"><i class="ph-paper-plane-tilt"></i></a>
              <a href={{item.site}} *ngIf="item.site!= null"><i class="ph-globe"></i></a>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
  <br>

  <div class="box">
    <h2>Aluguel</h2>
    <p>Não existem impedimentos para os solicitantes de refúgio ou refugiados para alugar uma casa ou apartamento no Brasil. O aluguel deve ser feito através de um contrato de aluguel, no qual todos os direitos e deveres dos proprietários e inquilinos devem ser incluídos.
    </p>
    <p>Existem várias agências imobiliárias que operam no país. No entanto, um contrato feito diretamente com o proprietário é geralmente mais acessível.</p>
    <p>Observe que os contratos de aluguel frequentemente requerem uma das garantias abaixo:
    </p>
    <ul style="list-style-type:disc ; list-style-position: inside; margin-bottom: 12px;">
      <li><b>Indicação de um Fiador</b>: alguém que se comprometa a pagar o aluguel caso você não cumpra o pagamento;</li>
      <li style="margin:8px 0"><b>Seguro de locação</b>: você pode contratar uma companhia de seguros como fiador;</li>
      <li><b>Caução</b>: consiste em oferecer ao locador uma quantia de dinheiro a ser mantida como garantia até a rescisão do contrato.</li>
    </ul>
    <p>Para mais informações acesse o material criado pela Caritas Arquidiocesana de São Paulo: <a href="https://help.unhcr.org/brazil/wp-content/uploads/sites/8/2021/03/Direito-Imobiliario-para-refugiados.pdf" style="text-decoration:underline ;">Passo a passo para uma locação segura.</a></p>

    <p><b>Alguns aplicativos que facilitam o aluguel são:</b></p>

    <div class="flex flex-row flex-wrap justify-evenly">
      <div class="card w-60 sm:max-w-80" *ngFor="let item of aluguel">
        <div>
          <img src={{item.img}} alt="">
          <h3>{{item.nome}}</h3>
          <p>{{item.desc}}</p>
        </div>
        <a href={{item.link}}>Acesse</a>
      </div>
    </div>
  </div>
</div>